<button mat-raised-button color="primary" (click)="display()">Display time</button><br>

<form [formGroup]="form">
<table class="table  table-bordered bg-white rounded">
    <tr>
      <th>Date</th>
      <th>checkin</th>
      <th>checkout</th>
      <th>totalhours</th>
      <th>btstart</th>
      <th>btend</th>
      <th>breakflag</th>
      <th>comment</th>
      <th>otstart</th>
      <th>otend</th>
      <th>otbtstart</th>
      <th>otbtend</th>
      <th>daytype</th>
      <th>cflag</th>
    </tr>
    <tbody formArrayName="row">
      <tr *ngFor="let row of rowArray.controls; let i=index;"[formGroupName]="i">
            <td>{{ row.get('tsdate')?.value | date: 'dd/MM/yyyy'}}</td>
            <td>{{ row.get('checkin')?.value }}</td>
            <td>{{ row.get('checkout')?.value }}</td>
            <td>{{ row.get('totalhours')?.value }}</td>
            <td>{{ row.get('btstart')?.value }}</td>
            <td>{{ row.get('btend')?.value }}</td>
            <td>{{ row.get('breakflag')?.value }}</td>
            <td><input class="form-control" type="text" formControlName="comment"/></td>
            <!-- <td><textarea matInput formControlName="comment" class="form-control"></textarea></td> -->
            <td>{{ row.get('otstart')?.value }}</td>
            <td>{{ row.get('otend')?.value }}</td>
            <td>{{ row.get('otbtstart')?.value }}</td>
            <td>{{ row.get('otbtend')?.value }}</td>
            <td>{{ row.get('daytype')?.value }}</td>
            <td>{{ row.get('cflag')?.value }}</td>
      </tr>
    </tbody>
    
  </table>
</form>
  <p>Selected checkin: {{form.value | json}}</p>

  