<ul class="opbut">

  <li><button mat-raised-button (click)="bth()"><mat-icon >keyboard_arrow_left</mat-icon></button></li><span>  </span>
    <li><button mat-raised-button *ngIf="getbut" (click)="getinq()" ><mat-icon >search</mat-icon></button></li>
    <li><button mat-raised-button *ngIf="delbut" (click)="delinq()"><mat-icon >delete</mat-icon></button></li>
    <li><button mat-raised-button *ngIf="crebut" (click)="creinq()"><mat-icon >save</mat-icon></button></li>
    <li><button mat-raised-button *ngIf="updbut" (click)="updinq()"><mat-icon >save</mat-icon></button></li>
    
    </ul>
    <form  class="form" #registerForm="ngForm">
      
      <mat-form-field class="li">
        <mat-label>inquiry No</mat-label>
        <input matInput #INQNO="ngModel" name="INQNO"  [(ngModel)]="inquiry.INQNO" required>
        <mat-error>Requried</mat-error>
      </mat-form-field>
      <mat-form-field class="li">
        <mat-label>Company Code</mat-label>
        <input matInput name="ccod" [(ngModel)]="inquiry.CCOD"   required>
        <mat-error>Requried</mat-error>
      </mat-form-field>
      <mat-form-field class="li">
        <mat-label>Employee Code</mat-label>
        <input matInput name="empno" [(ngModel)]="inquiry.EMPNO"   required>
        <mat-error>Requried</mat-error>
      </mat-form-field>
    
    <mat-tab-group class="head" animationDuration="800ms" dynamicHeight>
  
      <mat-tab label="Basic Data1">
        <ul>
        <li><mat-form-field><mat-label>inquiry Name</mat-label>
        <input matInput [(ngModel)]="inquiry.CCOD" name="inqnam" type="text" />
        </mat-form-field>
        </li>

        <li>
          <mat-form-field>
            <mat-label  >Asssignment percentage</mat-label>
            <input matInput appSelectValidator ="inqnam" [(ngModel)]="inquiry.ASSNPER"  #numberField="ngModel" [min]="0" [max]="100" name ="Ass">
            <mat-error  *ngIf="numberField.errors?.['sel']">
              The number must be between 0 and 100.
            </mat-error >
            </mat-form-field>
        </li>

        <li><mat-form-field>
          <mat-label   >Module</mat-label>
            <mat-select [(ngModel)]="inquiry.MODUL"   name="module" >
              <mat-option *ngFor="let lng of module"  [value]="lng.MODUL">{{lng.MOD_TEXT}}</mat-option>
            </mat-select>
          </mat-form-field>
        </li>
      </ul>
      </mat-tab>
        
    <mat-tab label="Basic Data2">
      <ul>
        <li><mat-form-field><mat-label  for="lang" style="width:216px" >Language</mat-label>
          <mat-select  [(ngModel)]="inquiry.LNGID"  name="lang" >
             <mat-option *ngFor="let lng of lang"  [value]="lng.LNGID">{{lng.LNG_TEXT}}</mat-option>
          </mat-select>
        </mat-form-field>
        </li>

        <li><mat-form-field  appearance="fill">
          <mat-label>Project Start Date</mat-label>
          <input matInput   [matDatepicker]="picker1" [(ngModel)]="FRMDT_I"  name="FRMDT_I"  >
          <mat-datepicker-toggle matSuffix [for]="picker1" ></mat-datepicker-toggle>
          <mat-datepicker #picker1  ></mat-datepicker  >
        </mat-form-field></li>

        <li><mat-form-field  appearance="fill">
          <mat-label>Project End Date</mat-label>
          <input matInput   [matDatepicker]="picker2" [(ngModel)]="TODT_I"  name="TODT_I"  >
          <mat-datepicker-toggle matSuffix [for]="picker2" ></mat-datepicker-toggle>
          <mat-datepicker #picker2  ></mat-datepicker  >
        </mat-form-field></li>

        <li>
          <mat-form-field>
            <mat-label  >Possibility percentage</mat-label>
            <input matInput appSelectValidator [(ngModel)]="inquiry.POSBPER"  #numberField1="ngModel" min="0" max="100" name ="Pos%">
            <mat-error  *ngIf="numberField.errors?.['sel']">
              The number must be between 0 and 100.
            </mat-error >
            </mat-form-field>
        </li>

        <li>
          <mat-form-field>
              <mat-label>Project Description</mat-label>
              <input matInput [(ngModel)]="inquiry.PRJDES" name="PRJDES" type="text" />
          </mat-form-field>
        </li>

        <li>
          <mat-form-field>
              <mat-label>Project Phase</mat-label>
              <input matInput [(ngModel)]="inquiry.PHASEID" name="PHASE" type="text" />
          </mat-form-field>
        </li>
      </ul>
    
      </mat-tab>
      <!--third tab -->
      <mat-tab label="Estimation">
        <ul>
          <li>
            <mat-form-field>
              <mat-label>Estimation Amount</mat-label>
              <input matInput [(ngModel)]="inquiry.ESTMAMT" name="estmant" type="text" />
            </mat-form-field>
          </li>
        </ul>

        <ul>
          <li>
            <mat-form-field>
              <mat-label>Currency</mat-label>
              <input matInput [(ngModel)]="inquiry.CURR" name="curr" type="text" />
            </mat-form-field>
          </li>
        </ul>

        <ul>
          <li>
            <mat-form-field>
              <mat-label>Tax Amount</mat-label>
              <input matInput [(ngModel)]="inquiry.TAX" name="tax" type="text" />
            </mat-form-field>
          </li>
        </ul>

        <ul>
          <li>
            <mat-form-field>
              <mat-label>Quantity</mat-label>
              <input matInput [(ngModel)]="inquiry.QTY" name="qty" type="text" />
            </mat-form-field>
          </li>
        </ul>

        <ul>
          <li>
            <mat-form-field>
              <mat-label>Rate</mat-label>
              <input matInput [(ngModel)]="inquiry.RATE" name="rate" type="text" />
            </mat-form-field>
          </li>
        </ul>

        <ul>
          <li>
            <mat-form-field>
              <mat-label>Unit</mat-label>
              <input matInput [(ngModel)]="inquiry.UNIT"  name="unit" type="text" />
            </mat-form-field>
          </li>
        </ul>
      </mat-tab>
      <mat-tab label="Other">
        <ul>
          <li>
            <mat-form-field>
              <mat-label>Customer</mat-label>
              <input matInput [(ngModel)]="inquiry.CUSTNO"  name="custno" type="text" />
            </mat-form-field>
          </li>

          <li>
            <mat-form-field>
              <mat-label>End User</mat-label>
              <input matInput [(ngModel)]="inquiry.EUSRNO"  name="eusrno" type="text" />
            </mat-form-field>
          </li>

          <li>
            <mat-form-field>
              <mat-label>Customer Infomation</mat-label>
              <input matInput [(ngModel)]="inquiry.CUSTINFO"  name="custinfo" type="text" />
            </mat-form-field>
          </li>

          <li>
            <mat-form-field>
              <mat-label>Remarks</mat-label>
              <input matInput [(ngModel)]="inquiry.REMARKS"  name="remarks" type="text" />
            </mat-form-field>
          </li>

        </ul>
      </mat-tab>
    </mat-tab-group>
  </form>
  
