
<mat-card>
    <mat-card-content>Simple card</mat-card-content>
  </mat-card>
 
    <!-- <mat-calendar [(selected)]="selected"></mat-calendar> -->
    <mat-slide-toggle>Toggle me!</mat-slide-toggle>
  <p>Selected date: {{selected | date}}</p>
  
  <mat-slider>
    <input matSliderThumb>
  </mat-slider>
  <p>Selected date: {{selected}}</p>
  <form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Favorite food</mat-label>
    <input matInput type="time"  placeholder="Ex. Pizza" value="Sushi">
    
  </mat-form-field>
  <input type="time"  >

  <div class="time-picker" >
    <div class="hour">
        <input type="number" class="hr" value="00" min = 00 max = 23  onchange="if(parseInt(this.value,10)<10)this.value='0'+this.value;">
    </div>
    <div class="separator">:</div>
    <div class="minute">
        <input type="text" class="min" value="00" min = 00 max = 23  onchange="if(parseInt(this.value,10)<10)this.value='0'+this.value;">
    </div>
</div>



  <mat-form-field class="example-full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
</form>
  
  <mat-card class="inline-calendar-card">
    <mat-calendar [(selected)]="selected" (selectedChange)="calChange($event)"></mat-calendar>
  </mat-card>
  
